<app-header></app-header>
<main>
  <app-carousel></app-carousel>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <app-repeating-input></app-repeating-input>
    <app-features></app-features>

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <app-footer></app-footer>
</main>
