<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Input Text</h5>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          (input)="showText($event)"
          [value]="text"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Translation</h5>
        <p class="card-text">
          {{
            text ? text : "Start writing on the left box to see your text here!"
          }}
        </p>
      </div>
    </div>
  </div>
</div>
