<!-- Don't uncomment this block 
-- There are 3 tasks, to view each task, uncomment only the <app-task line corresponding to task number.
-- Don't uncomment the task number line itself
-->

<!-- Task 1: TodoApp -->
<!-- <app-todo-list></app-todo-list> -->

<!-- Task 2: ProductSection-->
<!-- <app-product-section></app-product-section> -->

<!-- Task 3: ProductSection-->
<!-- <app-student-table></app-student-table> -->

<h1>
  To view tasks, uncomment a task in the app.component.html file, and comment
  this element
</h1>
