<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: 0px">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px">
          <div
            class="simplebar-content-wrapper"
            tabindex="0"
            role="region"
            aria-label="scrollable content"
            style="height: 100%; overflow: hidden scroll"
          >
            <div class="simplebar-content" style="padding: 0px">
              <a class="sidebar-brand" href="index.html">
                <span class="align-middle">E-commerce Dashboard</span>
              </a>

              <ul class="sidebar-nav">
                <li class="sidebar-header">Products</li>

                <li
                  class="sidebar-item"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <a class="sidebar-link" routerLink="/">
                    <svg
                      _ngcontent-ng-c642203436=""
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-align-left align-middle"
                    >
                      <line
                        _ngcontent-ng-c642203436=""
                        x1="17"
                        y1="10"
                        x2="3"
                        y2="10"
                      ></line>
                      <line
                        _ngcontent-ng-c642203436=""
                        x1="21"
                        y1="6"
                        x2="3"
                        y2="6"
                      ></line>
                      <line
                        _ngcontent-ng-c642203436=""
                        x1="21"
                        y1="14"
                        x2="3"
                        y2="14"
                      ></line>
                      <line
                        _ngcontent-ng-c642203436=""
                        x1="17"
                        y1="18"
                        x2="3"
                        y2="18"
                      ></line>
                    </svg>
                    <span class="align-middle">All Products</span>
                  </a>
                </li>

                <li class="sidebar-item" routerLinkActive="active">
                  <a class="sidebar-link" routerLink="/product/new">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-plus-square align-middle me-2"
                    >
                      <rect
                        x="3"
                        y="3"
                        width="18"
                        height="18"
                        rx="2"
                        ry="2"
                      ></rect>
                      <line x1="12" y1="8" x2="12" y2="16"></line>
                      <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                    <span class="align-middle">Add New Product</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="simplebar-placeholder"
        style="width: auto; height: 955px"
      ></div>
    </div>
    <div
      class="simplebar-track simplebar-horizontal"
      style="visibility: hidden"
    >
      <div
        class="simplebar-scrollbar simplebar-visible"
        style="width: 0px; display: none"
      ></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible">
      <div
        class="simplebar-scrollbar simplebar-visible"
        style="
          height: 514px;
          transform: translate3d(0px, 0px, 0px);
          display: block;
        "
      ></div>
    </div>
  </div>
</nav>
